.icon-button:hover {
    -fx-background-color: linear-gradient(
                                  to bottom,
                                  ladder(-fx-color,
                                         derive(-fx-color,80%) 60%,
                                         white 82%) 0%,
                                  ladder(-fx-color,
                                         derive(-fx-color,20%) 10%,
                                         derive(-fx-color,-10%) 80%) 100%
                              );

      -fx-background-radius: 10;
      -fx-border-radius: 10;
}

.icon-button:pressed > .ikonli-font-icon {
    -fx-icon-color: #37474f;
}