.sidebar {
    -fx-background-color: #FFFFFF;
}

.buttons {
    -fx-cursor: hand;
}

.buttons:hover {
    -fx-background-color: #CFD8DC;
}

.landing-button {
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(gaussian, #000000, 10.0 , 0.0, 0.0, 0.0);
}

.landing-button:hover {
    -fx-background-color: #CFD8DC;
}
